* {
    margin: 0;
    padding: 0;

}

body {
    height: 100vh;
    width: 100vw;
}

header {
    position: relative;
    width: auto;
    height: 250px;
    background-color: aqua;
}

.header-content {
    padding: 15px;
    margin: auto;
}