* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100vw;
}

header {
    margin: auto;
    height: 250px;
    background-color: rgb(60, 57, 235);
    display:flex;
    flex-direction: column;
    align-items: center;
}

.header-content {
    padding: 5%;
    color: aliceblue;
    font-size: 30px;
}