* {
    margin: 0px;
    padding: 0px;
    text-decoration:none;
}

body {
    height: 100dvh;
    width: 100dvw;
}

header {
    margin: auto;
    height: 175px;
    background-color: rgb(60, 57, 235);
    text-align: center;
    padding: 15px;
}
    
.header-content {
    color: aliceblue;
    font-size: 30px;
    margin: auto;
}

#h1-title {
    font-size: 6.4rem;
    font-variant: small-caps;
}

#h2-milton {
    font-size: 1.3rem;
}

a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bolder;
}

.default-text {
    color: aliceblue;
    font-size: 1.8rem;
    padding: 20px;
}

footer {
    width: 100%;
    height: 75px;
    background-color:rgb(60, 57, 235);
    display:flex;
    justify-content: center;
    align-items: center;
    
}

#div-footer {
    color: aliceblue;
    font-size: 1.2rem;
}

a :hover {
    text-decoration: underline;
}