* {
    margin: 0px;
    padding: 0px;
    text-decoration:none;
}

body {
    height: 100vh;
    width: 100vw;
}

header {
    margin: auto;
    height: 200px;
    background-color: rgb(60, 57, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    
.header-content {
    color: aliceblue;
    font-size: 30px;
    margin: auto;
}

#h1-title {
    font-size: 6.5rem;
}

#h2-milton {
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    color: aliceblue;
}

section {
    background-color: black;
    width: 100vw;
    height: 100vh;
    padding: 12px;
}

article {
    width: 75%;
    background-color: blueviolet;
    border-radius: 3%;
}

.default-text {
    color: aliceblue;
    font-size: 1.8rem;
    padding: 20px;
}

footer {
    width: 100%;
    height: 75px;
    background-color:rgb(60, 57, 235);
    display:flex;
    justify-content: center;
    align-items: center;
    
}

#div-footer {
    color: aliceblue;
    font-size: 1.2rem;
}