* {
    margin: 0px;
    padding: 0px;
    text-decoration:none;
}

@font-face {
    font-family:'xilosa';
    src: url('xilosa/xilosa.ttf') format('truetype');
}

body {
    min-height: 100vh;
}

header {
    background-color: rgb(60, 57, 235); 
    text-align: center;
}
    
.header-content {
    color: aliceblue;
}

#h1-title {
    font-size: 6.4em;
    font-variant: small-caps;
}

#h2-milton {
    font-size: 1.3rem;
    padding: 30px;
}

a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding: 30px;
    line-height: 2.5em;
    font-size: 3vw;
}

.image-section {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.normal-section {
    background-color: white;
}

p {
    font-family: 'xilosa';
}

#image-p {
    background-color: rgba(53, 53, 53, 0.259);
    width: 600px;
}

footer {
    width: 100%;
    height: 75px;
    background-color:rgb(60, 57, 235);
    font-variant: small-caps;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div-footer {
    color: aliceblue;
    font-size: 1.2rem;
}