* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100vw;
}

header {
    margin: auto;
    height: 275px;
    background-color: rgb(60, 57, 235);
    display:flex;
    flex-direction: column;
    align-items: center;
}

.header-content {
    color: aliceblue;
    font-size: 30px;
    margin: auto;
}

#h1-title {
    font-size: 75px;
}

section {
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.default-text {
    color: aliceblue;
    font-size: 35px;
    padding: 20px;
    
}
