* {
    margin: 0px;
    padding: 0px;
    text-decoration:none;
}

body {
    min-height: 100vh;
}

header {
    background-color: rgb(60, 57, 235);
    text-align: center;
}
    
.header-content {
    color: aliceblue;
}

#h1-title {
    font-size: 6.4rem;
    font-variant: small-caps;
}

#h2-milton {
    font-size: 1.3rem;
    padding: 30px;
}

a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh;
    line-height: 2.5rem;
}

.image-section {
    background-color: rgba(26, 26, 215, 0.321);
    color: black;
}

.normal-section {
    background-color: white;
}

.default-text {
    color: aliceblue;
    font-size: 1.8rem;
    padding: 20px;
}

footer {
    width: 100%;
    height: 75px;
    background-color:rgb(60, 57, 235);
    font-variant: small-caps;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div-footer {
    color: aliceblue;
    font-size: 1.2rem;
}