* {
    margin: 0;
    padding: 0;
    text-decoration:none;
}

@font-face {
    font-family:'xilosa';
    src: url('xilosa/xilosa.ttf') format('truetype');
}

body {
    min-height: 100vh;
}

header {
    background-color: rgb(60, 57, 235); 
    text-align: center;
}
    
.header-content {
    color: aliceblue;
}

#h1-title {
    font-size: 6.4em;
    font-variant: small-caps;
}

#h2-milton {
    font-size: 1.3rem;
    padding: 30px;
}

a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    
    line-height: 2.5em;
    font-size: 3vw;
    box-shadow: inset 5px 5px 10px 2px rgba(0, 0, 0, 0.505);
}

.image-p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.373);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.image-section {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#background-img-01 {
    background-image: url(pacote-exercicio-cordel/imagens/background001.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#background-img-02 {
    background-image: url(pacote-exercicio-cordel/imagens/background002.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#background-img-03 {
    background-image: url(pacote-exercicio-cordel/imagens/new\ cordel-01.jpeg);
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#background-img-04 {
    background-image: url(pacote-exercicio-cordel/imagens/new\ cordel-02.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.normal-section {
    background-color: white;
}

p {
    font-family: 'xilosa', sans-serif;
}

footer {
    width: 100%;
    height: 75px;
    background-color:rgb(60, 57, 235);
    font-variant: small-caps;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div-footer {
    color: aliceblue;
    font-size: 1.2rem;
}